* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Poppins";
  background-color: #FAFAFA;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn {
  padding: 15px 42px;
  background: #0AC05E;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FAFAFA;
  -webkit-box-shadow: 0px 100px 80px rgba(56, 56, 56, 0.1), 0px 64.8148px 46.8519px rgba(56, 56, 56, 0.0759259), 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
          box-shadow: 0px 100px 80px rgba(56, 56, 56, 0.1), 0px 64.8148px 46.8519px rgba(56, 56, 56, 0.0759259), 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
}

.header {
  max-width: 644px;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #313131;
  margin: 0 auto;
}

.subheader {
  padding-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #425466;
  max-width: 640px;
  margin: 0 auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 15px;
}

.navbar__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__login-btn {
  margin-right: 35px;
  font-weight: 400;
  font-size: 18px;
  color: #313131;
}

.navbar__login-btn:hover {
  color: #0AC05E;
  transition: all 300ms ease-in;
}

.navbar__btn {
  width: 152px;
  height: 58px;
}

.navbar__btn:hover {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-right: 50px;
}

.menu__item:nth-child(4) {
  margin-right: 0px;
}

.menu__item.active::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #0AC05E;
  left: 0;
  bottom: -4px;
}

.menu__item-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #313131;
  -webkit-transition: 0.3 all;
  -o-transition: 0.3 all;
  transition: 0.3 all;
}

.menu__item-link:hover {
  color: #0AC05E;
  transition: all 300ms ease-in;
}

.burger {
  display: none;
  cursor: pointer;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 911px;
}

.hero__item-content {
  position: relative;
  max-width: 570px;
  min-height: 100%;
}

.hero__item-img {
  position: absolute;
  top: -30px;
  right: -50px;
  max-width: 628px;
}
.hero__item-img.animated {
  animation-delay: 2s;
}
.hero__item-img img {
  width: 100%;
}

.hero__title {
  margin-top: 220px;
  font-weight: 700;
  font-size: 94px;
  color: #313131;
}
.hero__title.animated {
  animation-delay: 0.5s;
}

.hero__title span {
  color: #0AC05E;
}

.hero__text {
  margin-top: 40px;
  color: #425466;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.hero__text.animated {
  animation-delay: 1s;
}

.hero__btns {
  margin-top: 40px;
}
.hero__btns.animated {
  animation-delay: 1.5s;
}

.hero__btn {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 26px;
}

.hero__contact-btn {
  margin-left: 22px;
  color: #0AC05E;
  font-weight: 400;
  font-size: 18px;
  padding: 16px 19px 15px 19px;
  text-align: center;
}

.hero__contact-btn:hover {
  border: 1px solid #0AC05E;
  margin-left: 21px;
}

.hero__demo {
  position: absolute;
  top: 140px;
  right: -175px;
  z-index: 1;
}

.hero__decorator {
  position: absolute;
  z-index: -1;
}

.hero__decorator-1 {
  top: -114px;
  left: -135px;
}

.hero__decorator-2 {
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
  top: -114px;
  left: 241px;
}

.hero__decorator-3 {
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
  bottom: 0;
  left: 0;
}

.partners {
  min-height: 200px;
  background: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 84px 68px;
}

.partners__logo {
  padding: 20px;
}

.partners__logo:hover,
.hero__demo:hover,
.btn:hover,
.footer__social-icon-bg:hover {
  scale: 1.05;
  transition: all 500ms ease-in-out;
}

.advantages {
  margin-top: 140px;
  padding: 0 80px;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  margin: 0 20px;
}
.advantages__item:hover {
  scale: 1.02;
  transition: all 600ms ease-in-out;
}

.advantages__icon {
  height: 70px;
}

.advantages__subheader {
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #202020;
}

.advantages__text {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #425466;
}

.container__howitwork {
  position: relative;
}

.howitwork {
  margin-top: 140px;
}

.howitwork__items {
  margin-top: 90px;
  padding-left: 100px;
}

.howitwork__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.howitwork__item-img {
  max-width: 50%;
}

.howitwork__item-img img {
  width: 100%;
}

.howitwork__item-content {
  max-width: 460px;
  padding: 0 30px;
}

.howitwork__item-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: #222831;
}

.howitwork__item-text {
  margin-top: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #425466;
}

.howitwork__decorator {
  position: absolute;
  right: -100px;
  top: 0;
}

.about {
  margin-top: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__item-left {
  max-width: 480px;
}

.about__header {
  text-transform: uppercase;
  text-align: left;
}

.about__text {
  margin: 30px 20px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #425466;
}

.about__btns {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__btn {
  display: block;
  text-transform: uppercase;
}

.about__contact-btn {
  border: 1px solid #0AC05E;
  color: #0AC05E;
  padding: 16px 19px 15px 19px;
  margin-left: 20px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__contact-btn::after {
  content: url(../img/icon-play.svg);
  margin: 2px 0 0 22px;
}

.about__contact-btn:hover {
  scale: 1.02;
  opacity: 0.8;
  transition: all 500ms ease-in-out;
}

.about__item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 60px;
  border-left: 1px solid #E0E0E0;
  max-width: 526px;
}

.about__mini-block {
  width: 192px;
  height: 161px;
  padding: 27px 34px;
  margin-bottom: 30px;
  background: #FAFAFA;
  border: 1px solid #E0E0E0;
}

.about__mini-block:nth-child(2n-1) {
  margin-right: 40px;
}

.about__mini-block:nth-child(1),
.about__mini-block:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
          box-shadow: 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
}

.about__mini-block-header {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #313131;
}

.about__mini-block-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #61646B;
}

.reviews {
  margin-top: 140px;
  position: relative;
}

.reviews__subheader {
  max-width: 690px;
}

.reviews__wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1220px;
  overflow: hidden;
  margin-top: 80px;
  padding: 80px 0;
  min-width: 0;
}

.reviews__bg {
  position: absolute;
  top: 0;
  left: 100px;
  margin: 0 auto;
  width: 1020px;
  height: 540px;
  overflow: visible;
  background: #F1F1F1;
  z-index: -1;
}

.reviews__items {
  min-width: 0;
}

.reviews__item {
  width: 380px;
  min-height: 282px;
  padding: 40px 30px;
  margin-right: 40px;
  background: #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.reviews__item:active {
  -webkit-box-shadow: 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
          box-shadow: 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
}

.reviews__item-text {
  margin-top: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #425466;
}

.reviews__item-name {
  margin-top: 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #313131;
}

.reviews__item-post {
  margin-top: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: #425466;
}

.reviews__btn,
.reviews .tns-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 31px;
  width: 120px;
  height: 66px;
  background: #fff;
}

.reviews__btn-left,
.reviews__btn-right,
.reviews [data-controls=prev],
.reviews [data-controls=next] {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__btn-left,
.reviews [data-controls=prev] {
  background: #fff;
}

.reviews__btn-left::before,
.reviews [data-controls=prev]::before {
  content: url(../img/icon-arr-left.svg);
}

.reviews__btn-right,
.reviews [data-controls=next] {
  background: #000;
}

.reviews__btn-right::before,
.reviews [data-controls=next]::before {
  content: url(../img/icon-arr-right.svg);
}

.reviews__decorator {
  position: absolute;
  top: -50px;
  left: -130px;
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  color: none;
  margin-top: 0;
  outline: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.section__getstarted {
  margin-top: 140px;
  background: #F1F1F1;
  padding-top: 80px;
  padding-bottom: 160px;
  position: relative;
}

.getstarted {
  position: relative;
}

.getstarted__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 40px;
}

.getstarted__input {
  width: 329px;
  height: 80px;
  padding: 30px 28px;
  font-weight: 500;
  font-size: 16px;
  color: #425466;
  line-height: 20px;
  outline: none;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(56, 56, 56, 0.1), 0px 64.8148px 46.8519px rgba(56, 56, 56, 0.0759259), 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
          box-shadow: 0px 100px 80px rgba(56, 56, 56, 0.1), 0px 64.8148px 46.8519px rgba(56, 56, 56, 0.0759259), 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
}

.getstarted__input::-webkit-input-placeholder {
  color: #A5A5A5;
}

.getstarted__input::-moz-placeholder {
  color: #A5A5A5;
}

.getstarted__input:-ms-input-placeholder {
  color: #A5A5A5;
}

.getstarted__input::-ms-input-placeholder {
  color: #A5A5A5;
}

.getstarted__input::placeholder {
  color: #A5A5A5;
}

.getstarted__button {
  padding: 30px 28px;
  text-align: center;
  width: 161px;
  height: 80px;
  background: #0AC05E;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(56, 56, 56, 0.1), 0px 64.8148px 46.8519px rgba(56, 56, 56, 0.0759259), 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
          box-shadow: 0px 100px 80px rgba(56, 56, 56, 0.1), 0px 64.8148px 46.8519px rgba(56, 56, 56, 0.0759259), 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
}

.getstarted__button:hover {
  background: #06b859;
  transition: all 300ms ease-in-out;
}

.getstarted__decorator {
  position: absolute;
  top: -50px;
  left: -130px;
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
}

.getstarted__decorator-ellipse {
  position: absolute;
  top: 0;
  right: 0;
}

footer {
  display: block;
}

.footer {
  margin-top: 140px;
}

.footer__list-item > a {
  font-size: 18px;
  line-height: 27px;
  color: #425466;
  -webkit-transition: 0.3 all;
  -o-transition: 0.3 all;
  transition: 0.3 all;
}

.footer__list-item > a:hover {
  color: #0AC05E;
  transition: all 300ms ease-in-out;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #425466;
}

.footer__item-1 {
  max-width: 316px;
  margin-right: 40px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 60%;
}

.footer__text {
  margin-top: 18px;
  font-size: 16px;
  line-height: 30px;
}

.footer__header {
  font-size: 24px;
  color: #313131;
}

.footer__list {
  margin: 17px 40px 40px 0;
}

.footer__phone {
  margin-top: 17px;
}
.footer__phone:hover,
.footer__email:hover {
  color: #0AC05E;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 54px;
}

.footer__social-icon-bg {
  width: 34px;
  height: 34px;
  background: #0AC05E;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-icon {
  display: block;
  margin: 0 auto;
}

.footer__copywrite {
  margin-top: 95px;
  margin-bottom: 50px;
  border-top: 2px solid #E0E0E0;
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 24px;
}

.footer__copywrite-left {
  color: #425466;
}

.footer__copywrite-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__copywrite-link {
  margin-left: 36px;
  color: #425466;
  -webkit-transition: 0.3 all;
  -o-transition: 0.3 all;
  transition: 0.3 all;
}

.footer__copywrite-link:hover {
  color: #0AC05E;
  transition: all 300ms ease-in-out;
}

.animated {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (min-width: 640px) {
  .swiper-slide-next {
    -webkit-box-shadow: 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
            box-shadow: 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
  }
}

@media (max-width: 1220px) {
  .reviews__bg {
    min-width: 100%;
    left: 0;
  }
}

@media (max-width: 1200px) {
  .hero__item-img {
    max-width: 50%;
  }
}

@media (max-width: 1100px) {
  .navbar__login-btn {
    margin-right: 30px;
  }

  .menu__item {
    margin-right: 30px;
  }
}

@media (max-width: 1085px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__item-left {
    text-align: center;
  }

  .about__header {
    text-align: center;
  }

  .about__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__item-right {
    margin-top: 50px;
    padding: 50px 0 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-left: none;
    border-top: 1px solid #E0E0E0;
  }

  .getstarted__decorator-ellipse-img {
    width: 200px;
  }
}

@media (max-width: 1070px) {
  .hero {
    min-height: 100%;
  }

  .hero__item-content {
    margin: 0 auto;
  }

  .hero__item-img {
    position: static;
    max-width: 50%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hero__title {
    margin-top: 60px;
  }

  .hero__demo {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px auto;
  }

  .hero__demo > a {
    display: block;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0 auto;
  }

  .hero__demo > a > img {
    width: 130px;
  }

  .hero__decorator-3 {
    display: none;
  }

  .partners {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 80px;
  }

  .advantages {
    padding: 0;
  }

  .howitwork__items {
    padding-left: 0;
  }
}

@media (max-width: 1000px) {
  .swiper-slide-active {
    -webkit-box-shadow: 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
            box-shadow: 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 900px) {
  .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__menu {
    margin-top: 30px;
    width: 100%;
  }
}

@media (max-width: 895px) {
  .hero__title {
    font-size: 74px;
  }
}

@media (max-width: 885px) {
  .menu {
    width: 80%;
  }

  .menu__item {
    margin-right: 20px;
  }
}

@media (max-width: 860px) {
  .advantages__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .advantages__item {
    width: 100%;
    margin-bottom: 60px;
  }

  .advantages__text {
    max-width: 300px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }

  .navbar__btns {
    margin-top: 80px;
  }

  .navbar__login-btn {
    color: #FAFAFA;
  }

  .navbar__btn:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .menu__item {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767.98px) {
  .menu {
    position: fixed;
    background: #313131;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 22;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;
  }

  .burger.active-burger:before {
    background: "white";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active-burger:after {
    background: "white";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: "black";
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: "black";
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .menu__item {
    margin-top: 15px;
    padding: 10px 0;
  }

  .menu__item-link {
    color: white;
  }
}

@media (max-width: 767px) {
  .hero__item-img {
    max-width: 60%;
  }

  .hero__title {
    font-size: 64px;
  }
}

@media (max-width: 700px) {
  .hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .hero__item-img {
    max-width: 45%;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .hero__title {
    text-align: center;
  }

  .hero__text {
    text-align: center;
  }

  .hero__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero__btn {
    width: 100%;
  }

  .hero__contact-btn {
    width: 100%;
    margin: 20px 0 0 0;
    display: block;
    border: 1px solid #0AC05E;
  }

  .advantages {
    margin-top: 70px;
  }

  .howitwork {
    margin-top: 60px;
  }

  .about {
    margin-top: 60px;
  }

  .about__item-left {
    text-align: center;
  }

  .about__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__btn {
    width: 100%;
  }

  .about__contact-btn {
    width: 100%;
    margin: 20px 0 0 0;
  }

  .reviews {
    margin-top: 60px;
  }

  .reviews__bg {
    margin-top: 40px;
    padding: 40px 0;
  }

  .section__getstarted {
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .footer {
    margin: 60px 20px 0 20px;
  }

  .footer__copywrite {
    margin-top: 40px;
  }
}

@media (max-width: 580px) {
  .howitwork__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }

  .howitwork__item:nth-child(2) {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .howitwork__item-img {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .howitwork__item-content {
    margin-bottom: 60px;
  }
}

@media (max-width: 530px) {
  .footer__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (max-width: 504px) {
  .about__mini-block:nth-child(2n-1) {
    margin-right: 20px;
  }

  .about__mini-block {
    width: 150px;
    height: 120px;
    padding: 15px 25px;
    margin-bottom: 20px;
  }

  .about__mini-block-header {
    font-size: 30px;
    line-height: 38px;
  }

  .about__mini-block-text {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}

@media (max-width: 470px) {
  .hero__title {
    font-size: 44px;
    margin-top: 40px;
  }
}

@media (max-width: 430px) {
  .footer__copywrite {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    margin-top: 45px;
  }

  .footer__copywrite-left {
    text-align: center;
  }

  .footer__copywrite-link {
    margin-top: 30px;
  }

  .footer__copywrite-link:first-child {
    margin-left: 0;
  }
}

@media (max-width: 350px) {
  .hero__title {
    font-size: 34px;
    margin-top: 40px;
  }
}

@media (max-width: 320px) {
  .about__mini-block {
    width: 130px;
  }
}